body {  
    font-size: 80%;
     margin: 0;
}
.column {
  flex: 43%;
}
.row{
  display: flex;
}
 #header-text{
      margin: 0;
   font-family: "Saira", sans-serif;
    color: 	gray;
 }
nav
{
  margin: 0;
}

a {
    text-decoration: none;
    font-size: medium;
    color: #5fb2ce;
    font-family: "Saira", sans-serif;
}
a:hover {
    color: gray;
    text-shadow: 0 0 2px 1px #ff8e8e;
}
h1 {
    font-size: 2em;
    font-family: "Saira", sans-serif;
    color: #d6d4d3;
    text-align: center;
}
h2 {

    font-size: 1.3em;
    font-family: "Saira", sans-serif;
   color: #d6d4d3;
    text-align: left;
}
h3 {

    font-size: 1.3em;
   font-family: "Saira", sans-serif;
    color: #d6d4d3;
    text-align: right;
}
h4 {

    font-family: "Saira", sans-serif;
    font-size: 1.3em;
   color: #d6d4d3;
    text-align: center;
}
h5 {
   font-family: "Saira", sans-serif;
    font-size: medium;
   color: #d6d4d3;
    text-align: center;
}
h6 {
    font-family: "Saira", sans-serif;
    font-size: medium;
   color: #d6d4d3;
    text-align: left;
}
p {
        font-size: medium;
    color: #d6d4d3;
    font-family: "Saira", sans-serif;
    text-align: left;
}
footer {
     margin: 0;
}
