body {
    background: black;
}
.column {
  flex: 43%;
}
.row{
  display: flex;
}
 #header-text{
  text-align:center;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    color: #FFF;
 }
nav
{
    border-top: 1px solid #990099;
    border-bottom: 1px solid #990099;
    background: rgba(255, 255, 255, 0.1);
}
nav ul, footer ul {
   font-family: "Verdana", "Geneva", sans-serif;
    list-style: none;
        font-size: 12px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    padding-right: 45px;
    margin-left: 0px;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #FFF;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.2vw;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    color: #FFF;
    text-align: left, justify;
    margin-left: 15%;
        margin-right: 15%;
      background-color: #202020 ;
  padding: 2px ;
    line-height: 2 ;
}
h2 {

    font-size: 1.1vw;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    color: #FFF;
    text-align: right, justify;
        margin-left: 15%;
        margin-right: 15%;
    line-height: 2 ;
}
h3 {

    font-size: 1vw;
    font-family:"Lucida Console", 'Monaco', 'monospace';
    color: #FFF;
    text-align: left, justify;
        margin-left: 15%;
        margin-right: 15%;
    line-height: 2 ;
}
h4 {

    font-family:"Lucida Console", 'Monaco', 'monospace';
    font-size: 1vw;
    font-weight: bold;
    color: #FFF;
    text-align: right, justify;
        margin-left: 15%;
        margin-right: 15%;
    line-height: 2 ;
}
p {
    font-weight: bold;
    font-size: 1vw;
    color: #FFF;
    font-family: "Verdana", "Geneva", sans-serif;
    text-align: justify;
        margin-left: 17%;
        margin-right: 17%;
          background-color: #202020 ;
  padding: 2px ;
    line-height: 2 ;
}
footer {
    border-top: 1px solid #990099;
    border-bottom: 1px solid #990099;
    background: rgba(255, 255, 255, 0.1);
}
