<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="ICON" HREF="/Assets/sluggy.png">
			{% seo %}
		</head>
		<body>
			<center>
                 <img src="/Assets/heroImage.png" width=100%>
			</center>
			<nav>
    		<ul>
			<center>
			<li><a href="/">Home</a></li>
        		<li><a href="/RemoteAgentGame">Remote Agent</a></li>
			
			</center>
			
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      		<footer>
    			<ul>
				<center>
        			<li><a href="mailto:madsirstudio@gmail.com">Contact</a></li>
				<li><a href="https://gab.com/MadsirStudio">Gab<a><li>
				
				
					</center>
			</ul>
		</footer>
			<center>
				<h4>Copyright © 2019-2021 Madsir Studio</h4>
			</center>
	</body>
</html>
