<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center>
				<h1>MADSIR STUDIO</h1>
			</center>
			<nav>
    		<ul>
			<li><a href="/">STAY TUNED</a></li>
        		<li><a href="/RemoteAgentGame">REMOTE AGENT</a></li>
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      		<footer>
    			<ul>
        			<li><a href="mailto:madsirstudiob@gmail.com">contact</a></li>
				<li><a href="/about">About</a></li>
				<p>© 2019 Madsir Studio </p>
			</ul>
		</footer>
	</body>
</html>
