<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="ICON" HREF="/Assets/sluggy.png">
			{% seo %}
		</head>
		<body>
			<center>
			<a href="/"><img src="/Assets/heroImage.png" width=100%></a>
			</center>
			<nav>
    		<ul>
			<center>
			<li><a href="/">Overview</a></li>
        		<li><a href="/remoteagent">Remote Agent</a></li>
			<li><a href="/chinchillin">CDP</a></li>
			<li><a href="/cutscheme2d">Cutscheme 2D</a></li>
			<li><a href="/cutscheme2d">Utterer</a></li>
			</center>
			
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
      		<footer>
    			<ul>
				<center>
        			<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/privacy">Privacy</a></li>			
					</center>
			</ul>
		</footer>
			<center>
				<h5>© 2022 Madsir Studio</h5>
			</center>
	</body>
</html>
